.accordion {
    background-color: $accent_color;
    color: #444;
    cursor: pointer;
    padding: 18px;
    
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: auto;
  }

  .accordion__item{
      background-color: transparent;

      .accordion__button{
        background-color: transparent;

        &:hover{
            background-color: transparent;
        }
    }
    .accordion__panel{
        background-color: transparent;
    }
    .accordion__heading{
        background-color: transparent;
    }
  }
 
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }